<h1 id="characteristics_management" class="hide_selectbox">Listing characteristics</h1>
<%= form_for(@characteristic) do |f| %>
  <% if @characteristic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@characteristic.errors.count, "error") %> prohibited this characteristic from being saved:</h2>

      <ul>
      <% @characteristic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div >
    <%= f.label :category_id %><br />
    <%= f.collection_select :category_id, Category.leaves, :id, :name, :prompt => "Select" %>
  </div>
  <div >
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div  >
     <%#= label_tag "Do you want to set multiple default values?" %>
  
      <%#= check_box_tag "multipleselection",1 %>
  </div>
    <div  id = "all_options">
      <%#= render :partial => "selectvalue" ,:locals => {:status => @status,:flag => @flag} %>
      <%= label "characteristic","Select input kind value" %><br />
      <%= f.select :input_kind,[['selectbox'],['radiobutton'],['checkbox'],['textbox'],['textarea']]%>
    </div>
  <div>
     <%= f.label :default_value %><br />
     <%= f.fields_for :default_values do |pc| %>
                            
    <%= render :partial => "default_values", :locals => {:f => pc} %>
  <% end %>
   <%= link_to_add_fields_value "Add Default Value", f, :default_values %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">

$('#multipleselection').change(function(){
  if ($('#multipleselection').is(':checked')) 
  {
    var status = "check";
    $.get('/select_input_kind/'+status,function(data){
          },"script");
  }
else
  {
    var status = "uncheck";
    $.get('/select_input_kind/'+status,function(data){
          },"script");
  }
});
</script>