<h3><strong><%= link_to 'New Characteristic', new_characteristic_path %></strong></h3>
<center><h1 id="characteristics_management">Characteristics List</h1></center>



<div style="float:right;margin-top: -35px;">
  <%= form_tag characteristics_path, :method => 'get', :id => "characteristics_search" do %>
    <%= text_field_tag :search, params[:search] ,:placeholder => "Enter search text" %>
    <%= submit_tag "Search", :name => nil %>

</div>
<div id="characteristics_listing">
    <%= render :partial => "characteristics_information",:locals => {:characteristics => @characteristics} %>
</div>
<% end %>

<script type="text/javascript">
 $("#characteristics_search input").keyup(function() {
    $.get($("#characteristics_search").attr("action"), $("#characteristics_search").serialize(), null, "script");
    return false;
  });
</script>





