<%= form_for(@abuse_report) do |f| %>
  <% if @abuse_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@abuse_report.errors.count, "error") %> prohibited this abuse_report from being saved:</h2>

      <ul>
      <% @abuse_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :advertisement %><br />
    <%= f.text_field :advertisement %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
