<% if f.object.nil? %>
  <% if @characteristic.input_kind == "selectbox" %>
    <%= f.hidden_field  :characteristic_id ,  :value =>@characteristic.id %>
    <% splited_options = @characteristic.default_values.collect {|i| "<option>#{i.default_value}</option>"}.join %>
    <div class="selectareaorengsmall cat_select">
      <%= f.select :value, "#{splited_options}".html_safe ,{},{:id=>"Items5" ,:class=>"selectbox"}%>
    </div>
  <% elsif @characteristic.input_kind == "radiobutton" %>
    <% @index = 0 %>
    <%= hidden_field_tag "advertisement[advertisement_characteristics_attributes][#{@index}][characteristic_id]", @characteristic.id%>  
      <div id="skin_1" >
       <%= label_tag "characteristic",@j.default_value%>
       <%= radio_button_tag "advertisement[advertisement_characteristics_attributes][#{@index}][value]", @j.default_value,{},:class => 'ad_btn' %>
      </div>
  <% elsif @characteristic.input_kind == "checkbox" %>
    <%= f.hidden_field  :characteristic_id ,  :value =>@characteristic.id %>
    <%= f.hidden_field  :default_value_id , :value => @j.id %>
    <div class="cat_checkbox">
      <%= label_tag "characteristic",@j.default_value%>
      <%= check_box_tag "advertisement[advertisement_characteristics_attributes][#{@index}][value]", @j.default_value, false ,:class => 'ad_btn' %>
    </div>
  <% end %>
<% else %>

  <% if @characteristic.input_kind == "selectbox" %>
  <% @a = AdvertisementCharacteristic.where("advertisement_id = ? AND characteristic_id = ? ",@advertisement,@characteristic) %>
    <%= f.hidden_field  :characteristic_id ,  :value =>@characteristic.id %>
    <% splited_options = @characteristic.default_values.collect {|i| "<option selected='selected'>#{i.default_value}</option>"}.join %>
    <div class="selectareaorengsmall cat_select">
      <% if !@a.blank? %>
      <%= f.select :value, @characteristic.default_values.map { |i| i.default_value }, {:selected => "#{@a.first.value}"},{:id=>"Items5" ,:class=>"selectbox"} %>
      <% else %>
      <%= f.select :value, @characteristic.default_values.map { |i| i.default_value },{},{:id=>"Items5" ,:class=>"selectbox"} %>
      <% end %>
    </div>
  <% elsif @characteristic.input_kind == "radiobutton" %>
    <% @index = 0 %>
    <%= hidden_field_tag "advertisement[advertisement_characteristics_attributes][#{@index}][characteristic_id]", @characteristic.id%>  
      <div id="skin_1" >
       <%= label_tag "characteristic",@j.default_value%>
       <%= f.radio_button :value ,@j.default_value,:name => "advertisement[advertisement_characteristics_attributes][#{@index}][value]"%>
      </div>
  <% elsif @characteristic.input_kind == "checkbox" %>

    <% @a = AdvertisementCharacteristic.where("advertisement_id = ? AND characteristic_id = ? AND default_value_id in (?) ",@advertisement,@characteristic,@characteristic.default_values) %>
    
    <% @data = @a.where("default_value_id = ?", @j.id)%>
    <%= f.hidden_field  :characteristic_id ,  :value =>@characteristic.id %>
    <%= f.hidden_field  :default_value_id , :value => @j.id %>
    <div class="cat_checkbox">
       <%= label_tag "characteristic",@j.default_value%>
        <% if !@data.blank? %>
           
            <%= check_box_tag "advertisement[advertisement_characteristics_attributes][#{@index}][value]","1",  @data.first.value.eql?("1") ? true : false  %>
        <% else %>
        <%= check_box_tag "advertisement[advertisement_characteristics_attributes][#{@index}][value]","1",  false  %>
        <% end %>
            
    </div>
  <% elsif @characteristic.input_kind == "textbox" %>
  <% @a = AdvertisementCharacteristic.where("advertisement_id = ? AND characteristic_id = ?",@advertisement,@characteristic) %>
    <%= f.hidden_field  :characteristic_id ,  :value =>@characteristic.id %>
    <%= f.hidden_field  :default_value_id , :value => @j.id %>
    <div class="cat_textbox">
      <% if !@a.blank? %>
        <% @a.each do |char| %>
        <%=f.text_field :value, {:value => char.value,:class => "field",:style=> "padding: 5px;width:245px;" } %>
        <% end %>
      <% else %>
      <%=f.text_field :value, {:value => @j.default_value,:class => "field",:style=> "padding: 5px;width:245px;" } %>
      <% end %>
    </div>
  <% elsif @characteristic.input_kind == "textarea" %>

    <% @a = AdvertisementCharacteristic.where("advertisement_id = ? AND characteristic_id = ?",@advertisement,@characteristic) %>
    <%= f.hidden_field  :characteristic_id ,  :value =>@characteristic.id %>
    <%= f.hidden_field  :default_value_id , :value => @j.id %>
    <div class="cat_textarea">
       <% if !@a.blank? %>
      <% @a.each do |char| %>
      <%= f.text_area :value,{:value => char.value ,:cols => 35, :rows => 3 }%>
      <% end %>
      <% else %>
       <%= f.text_area :value,{:value => @j.default_value ,:cols => 35, :rows => 3 }%>
       <% end %>
    </div>
  <% end %>
<% end %>
