<script type="text/javascript">
  function readURL(input,id1) {

    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#img_prev_'+id1).attr('src', e.target.result).height(100).width(100);

        
      };
      
      reader.readAsDataURL(input.files[0]);
    }
    else {
      var img = input.value;
      $('#img_prev').attr('src',img).height(200);
    }
    // $("#x").show().css("margin-right","10px");
  }
</script>

<script type="text/javascript">
  bkLib.onDomLoaded(function() {
    new nicEditor({buttonList : ['bold','italic','underline','ul']}).panelInstance('advertisement_values_xml');
  });
  // bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#Items').selectbox();
    $('#Items2').selectbox();
    $('#Items3').selectbox();
    $('#Items4').selectbox();

    $('#Items6').selectbox();
    $('#Items7').selectbox();
    $('#Items8').selectbox();
    $('#Items9').selectbox();
    $('#Items10').selectbox();
    
    $('#step0Next').hide();
    $('#step2Next').hide();
            $('input:radio').each(function () {
                $(this).hide();
                var label = $("label[for=" + '"' + this.id + '"' + "]").text();
                $('<a title=" ' + label + ' " class="radio-fx ' + this.name + '" href="#"><span class="radio"></span></a>').insertAfter(this);
            });
            $('.radio-fx').on('click', function (e) {
                $check = $(this).prev('input:radio');
                var unique = '.' + this.className.split(' ')[1] + ' span';
                $(unique).attr('class', 'radio');
                $(this).find('span').attr('class', 'radio-checked');
                $check.attr('checked', true);
            }).on('keydown', function (e) {
                if (e.which == 32) {
                    $(this).trigger('click');
                }
            });

   

  });
</script>
<% if user_signed_in? %>
<h1 id="advertise_management" class="hide_selectbox">Advertisement List</h1>

<div id="wrapper">
  <div class="aanmakenpoup">    
    <div class="aanmakendiv">
      <div class="bluetabdiv" >
        <div class="tabdiv">
          <section class="tabs">
            <ul class="tab-nav">
              <% if user_signed_in? %>                  
                <li>
                  <%= link_to "Uitloggen", destroy_user_session_path, :method => :delete %>
                </li>
                <% else %>  
                <li class="active">
                  <%= link_to "Inloggen", new_user_registration_path %>
                </li>
              <% end %>
            </ul>
          </section>
        </div>
      </div>
      <div class="logmeldiv">
        <h1 id="logo"><%= link_to image_tag("logo.png"), root_path %></h1>
        <%= link_to image_tag("homeicon.png", class: 'homeicon'), root_path %> 
      </div>

      <div class="clearfix"></div>
      <div class="bluediv" style="width: 102%;margin-left:-8px;"></div>
      <div class="formmeldiv formmeldivnew">

        <div id="ad_create">
                  <%= render :partial => "ad_create" %>
        </div>
     </div>
      </div> 
    </div>        
  </div> 
<% end %>
<script type="text/javascript">
$('#advertisement_category_id').change(function(){
    $.get('/first_phase/'+$(this).val(),function(data){
        },"script");
    
    $('#step0Next').click(function(){
    });
    $('#third_phase_selection').empty();
});
$('#second_phase_selection').change(function(){
      $.get('/second_phase/'+$(this).val(),function(data){
          },"script");
     
      $('#step0Next').click(function(){
      });
});

</script>
