<script type="text/javascript">
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox({
        loadingImage : '/assets/loading.gif',
        closeImage   : '/assets/close_button.png'
      });

    });

    // $('#clear-fields').click(function($){ alert('hi');
    //   $('#client_message').val('');
    //   $('#client_email').val('');
    //   $('#client_phone').val('');
    // });
</script>
<script type="text/javascript">
  $(function() {
    
    $('#carousel span').append('<%= image_tag "carousel_glare.png" %>');
    $('#thumbs a').append('<%= image_tag "carousel_glare_small.png" %>'); 

    $('#carousel').carouFredSel({
      responsive: true,
      circular: false,
      auto: false,
      items: {
        visible: 1,
        width: 200,
        height: '56%'
      }
    });

    $('#thumbs').carouFredSel({
      responsive: true,
      circular: false,
      infinite: false,
      auto: false,
      prev: '#prev',
      next: '#next',
      items: {
        visible: {
          min: 2,
          max: 6
        },
        width: 150,
        height: '66%'
      }
    });

    $('#thumbs a').click(function() {
      $('#carousel').trigger('slideTo', '#' + this.href.split('#').pop() );
      $('#thumbs a').removeClass('selected');
      $(this).addClass('selected');
      return false;
    });

    
  });
</script>

<% if controller.action_name.eql?("create") %>
<div class="containersmall">
<%= render :partial => "adshow" %>
</div>

<% else %>
<%= render :partial => "adshow" %>
    
<% end %>

<!-- <p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @advertisement.title %>
</p>

<p>
  <b>Price:</b>
  <%= @advertisement.price %> 
</p>

<p>
  <b>Image:</b>
  <%= image_tag @advertisement.advertisement_images.blank? ? 'No Image' : @advertisement.advertisement_images.map {|i| i.image.url} %>
</p>

<p>
  <b>Values xml:</b>
  <%= @advertisement.values_xml %>
</p>

<p>
  <b>Advertisement status:</b>
  <%= @advertisement.advertisement_status_id %>
</p>

<p>
  <b>Paid:</b>
  <%= @advertisement.paid %>
</p>

<p>
  <b>Deleted:</b>
  <%= @advertisement.deleted %>
</p>

<p>
  <b>User:</b>
  <%= @advertisement.user_id %>
</p>

<p>
  <b>Category:</b>
  <%= @advertisement.category_id %>
</p>


<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Back', advertisements_path %>
-->
<script type="text/javascript">
$('#enlarge_img').click(function(e){
  var id = $('.img').attr('class');
  var id1 = id.split(' ');
  jQuery.facebox(function() { 
     $.get('/large_img/'+id1[0], function(data) { $.facebox(data) })
     $('#facebox .popup .content').width('750px');
     $('#facebox .popup .content').addClass('large_img_popup');
     $('#facebox .close').addClass('facebox_close');
  })
});


</script>