<script type="text/javascript">
    $(document).ready(function() {
        $('#Items').selectbox();
        $('#Items2').selectbox();
        $('#Items3').selectbox();
        $('#Items4').selectbox();
    });
</script>

<h1 id="ads_management" class="hide_selectbox">Ads Management</h1>
         <div id="my_ads_section">
            <div class="filterdiv">
            <%= form_tag myads_listing_path, :id => 'myads_search',:remote => true do %>
              
                	<span>Filter op: </span>
                    <%= text_field_tag :keyword, params[:keyword], class: "field", placeholder: "keywords here.." %>
                    <% @advertise = Advertisement.where("user_id" => current_user.id).select(:category_id).uniq %>
                    <% @category = Category.where('id' => @advertise) %>
                    <div class="selectareablue">
                      <%= select_tag :category_id, options_from_collection_for_select(@category, 'id', 'name'), :id => "Items2", :class => "selectbox", :prompt => "Select" %>
                    </div>
                    <div class="selectareabluesmall">
                        <%= select_tag :advertisement_status_id, options_from_collection_for_select(@status, 'id', 'status') , :id => "Items3", :class => "selectbox", :prompt => "Select" %>
                        <%#= select_tag :status_id, "<option value=1>Active</option><option value=2>Sold</option><option value=0>Blocked</option>".html_safe, :id => "Items", :class => "selectbox", :prompt => "Select" %>
                    </div> 
                    <%= submit_tag "Zoek", :title => nil %>
                     <% end %>
                     <!-- <div class="wis">Wis filter</div> -->
                </div>
           
              <% @abuse_Ad = AbuseReport.cheaper_than(ABUSE_REPORT_COUNT) %>
              <% if !params[:keyword].nil? || !params[:category_id].nil? || !params[:advertisement_status_id].nil? %>
                  <% if !@abuse_Ad.blank? %>
                  <% @abuse_Ad.each do |abuse_ad| %>
                      <% @myads = Advertisement.where('title LIKE ? OR category_id = ? AND advertisement_status_id = ? AND id not in (?)', params[:keyword],params[:category_id],params[:advertisement_status_id],abuse_ad.advertisement_id).order(:title) %>
                    <% end %>
                  <% else %>
                    <% @myads = Advertisement.where("user_id = ?",current_user.id) %>
                  <% end %>
              <% else %>
                 <% if !@abuse_Ad.blank? %>
                  <% @abuse_Ad.each do |abuse_ad| %>
                    <% @myads = Advertisement.where("user_id = ? AND id not in (?)", current_user.id,abuse_ad.advertisement_id).order("id desc") %>
                  <% end %>
                  <% else %>
                      <% @myads = Advertisement.where("user_id = ?",current_user.id) %>
                    <% end %>
            <% end %> 

            <div class= "myads-list">
                <%= render :partial => "ads_listing" ,:locals => { :myads  =>  @myads }%>
        </div> 
       
   </div>
