<script type="text/javascript">
    $(document).ready(function() {
        $('#Items').selectbox();
        $('#Items4').selectbox();
    });
</script>
<h1 id="favourite_management" class="hide_selectbox">Favourite Management</h1>

		
          <div id="my_fav_section">
            <div class="filterdiv">
            	<span>Filter op: </span>
            	<div class="selectareawhite">
            		<select name="Items" id="Items4" class="selectbox">
            			<option value="opetion1">Rubriek</option>
                        <option value="opetion1">CASA</option>
                        <option value="opetion1">CASA</option>
                    </select>
                </div>
                <div class="selectareablue">
                	<select name="Items" id="Items" class="selectbox">
                		<option value="opetion1">Rubriek</option>
                        <option value="opetion1">CASA</option>
                        <option value="opetion1">CASA</option>
                    </select>
                </div>
                <!-- <div class="wis">Wis filter</div> -->
            </div>
            <% myfavIds = current_user.favorites.select(:advertisement_id) %>
            <% @myfavads = Advertisement.where(:id => myfavIds) %>
            
            <% for myfavad in @myfavads %>
           
                <div class="listdiv topbod botbod">
                    <div class="listing">
                        <%= link_to image_tag(myfavad.advertisement_images.first.blank? ? 'No Image' : myfavad.advertisement_images.first.image.url, :size => "98x73"), myfavad %>
                        <div class="titlebig">
                            <%= truncate(myfavad.title, :length => 25) %>
            		    </div>
                        <div class="pricebig">
                            Vraagprijs:€ <%= myfavad.price %>
                            <ul>
                                <li>
                                    <a href="#">Reserveren</a>
            				    </li>
                                <li>
                                    <%= link_to "Redigeren",edit_advertisement_path(myfavad) %>
                                </li>
                            </ul>
                        </div>
                        <div class="pricebig">
                            <ul>
                                <li>
                                    <%= link_to "Neem contact op", "#email-link", rel: "facebox",:class=>"active" %>
                                   
                    		    </li>
                      	        <li>
                                    <%= link_to "Verwijder", favorite_advertisement_path(myfavad, type: "unfavorite"), :method => "put" %>
                      	        </li>
                            </ul>
                        </div>
                    </div>
                </div>
            
           
                        <div id="email-link" style="display:none;">
  <div class="poup">
    <div class="mijnadediv">
      <div class="bluetabdiv" >
        <div class="tabdiv">
          <section class="tabs">
            <ul class="tab-nav">      
              <li class="active">
                <% if user_signed_in? %>
                  <%= link_to "Uitloggen", destroy_user_session_path, :method => :delete %>
                <% else %>  
                  <%= link_to "Inloggen", new_user_registration_path, id: "email_login_popup" %>
                <% end %>
              </li>
            </ul>
          </section>  
        </div>
      </div>
      <div class="logmeldiv">
        <h1 id="logo">
          <%= link_to image_tag('logo.png'), root_path %>
        </h1>        
        <div class="toplinkcont" style="padding-top:40px;">
          <%= image_tag 'blue_arrow.png' %><%= link_to 'Terug naar resultaten', root_path %>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="bluediv" style="margin-left: -8px !important;width: 102% !important;"></div>   
      <div class="formmeldiv">
        <div class="contactopnemenen">
          <%= form_for @contact,:url => contact_advertiser_advertisement_path(myfavad), :id => 'contact_advertiser', :method => "post" do |f| %>
            <div class="contactopnemenenleft">
              <h1>Contact opnemen met EUROKOOI</h1>
              <%= f.text_area :message,:class => 'textarea12', :placeholder => "Enter your comments here", :required => true %>
              <!-- <textarea class="textarea12" rows="" cols="" name="tbcChangesReq" placeholder="Enter your comments here"></textarea> -->
              <div class="submdiv">
                <%= submit_tag "Versturen", :class => "btorg" %>
                <!-- <input type="submit" class="btorg" id=""  value="Inloggen" name="Wijzig"> -->
                <input type="button" class="submdiv" id="clear-fields"  value="Annuleren" name="Wijzig" style="width: auto;">
              </div>
            </div>
            <div class="contactopnemenenright">
              <h1>Uw contactgegevens</h1>        
              <div class="cotopdiv">
                E-mailadres
                <% if user_signed_in? %>
                  <% email = current_user.email %>
                  <%= f.email_field :email, :value => email, :class => 'formdiv', :required => true %>
                <% else %>  
                  <%= f.email_field :email, :class => 'formdiv', :placeholder => 'you@example.com', :required => true %>
                <% end %>
                <!-- <input type="text" placeholder="ew@UberDTPer.nl" tabindex="0" readonly="readonly" autocomplete="off" class="formdiv" id="Items_input"> -->
              </div>
              <div class="cotopdiv">
                Telefoonnummer
                <% if user_signed_in? %>
                  <%= f.phone_field :phone, :value => current_user.phone, :class => 'formdiv', :required => true %>
                <% else %>  
                  <%= f.phone_field :phone,  :class => 'formdiv', :placeholder => '06 12345678', :required => true %>
                <% end %>
                <!-- <input type="text" placeholder="06 12345678" tabindex="0" readonly="readonly" autocomplete="off" class="formdiv" id="Items_input"> -->
              </div>
            </div>
          <% end %>
        </div>
      </div>    
    </div>
    <div class="mijnadediv2nd">
      <div class="mijabotdiv">
        <div class="mijbothome">
          <%= image_tag 'homeicon.png' %> Homepagina
        </div>
        <p>Voor uw bescherming verloopt deze conversatie via onze server en 
          worden e-mailadressen afgeschermd. Om bijvoorbeeld spam te
          voorkomen en de veiligheid van handelen te vergroten, behoudt 
          WELOCO zich het recht voor om verdachte conversaties te filteren 
          en te staken.
        </p>
      </div>
    </div>
  </div>
</div>
      <% end %>    
            </div> 