<div class="leftmenu">            
  <ul>
    <% for category in Category.roots %>
      <% if category.active_status == true %>
      <li><%= link_to category.name, category_listing_path(category) %></li>
      <% end %>
    <% end %>             	
  </ul>                           
</div>

<div id = "imagaddiv">
  <% if params[:search] %>
    <% @search = Advertisement.where("title LIKE ?", "%#{params[:search]}%").where(:advertisement_status_id => 1) %>
    <% else %>
      <% @search = Advertisement.where(:advertisement_status_id => 1).order("id desc") %>
  <% end %>
  <%# for advertise in @search %>
    <%  @advertisements.each do |advertise| %>
      <% if advertise.category.active_status == true %>
      <div class="adbox">
        <%= link_to image_tag(advertise.advertisement_images.first.blank? ? 'No Image' : advertise.advertisement_images.first.image.url, :size => "90x55"), advertise %>
      <h1><%= truncate(advertise.title, :length => 12) %> <span>€  <%= advertise.min_price %> to <%= advertise.max_price %></span></h1>
      <p><%= truncate(strip_tags(advertise.values_xml), :length => 12) %></p> 
      <!--<p><%= raw(truncate(advertise.values_xml, :length => 12)) %></p> -->
     </div>
    <% end %>
  <% end %>
</div>