<% if current_user.role == "admin" %>
 <h3><strong><%= link_to 'New Category', new_category_path %></strong></h3>
<center><h1 id="category_management">Category List</h1></center>

<div style="float:right;margin-top: -35px;">
  <%= form_tag categories_path, :method => 'get', :id => "categories_search" do %>
    <%= text_field_tag :search, params[:search] ,:placeholder => "Enter search text" %>
    <%= submit_tag "Search", :name => nil %>
</div>
<div id="categories_listing">
    <%= render :partial => "category_information",:locals => {:category_root => @category_root} %>
</div>
<% end %>

<script type="text/javascript">
 $("#categories_search input").keyup(function() {
    $.get($("#categories_search").attr("action"), $("#categories_search").serialize(), null, "script");
    return false;
  });
</script>


 
 
 <% end %>
