<!--<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

 <%= render "devise/shared/links" %> -->

<div id = "wrapper">
  <div class = "poup">
    <div class = "mijnadediv">
      <div class = "logmeldiv">
        <h1 id="logo"><%= link_to image_tag("logo.png"), root_path %></h1>
        

        <div class = "clearfix"></div>
        <div class = "bluediv"></div>         

        <div class = "formmeldiv">
          <div class = "contn">
            <h1>Maak hier je eigen account aan</h1>     
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:id => 'user_signup'}) do |f| %>     
              <div id="error_explanation"> 
                <%= devise_error_messages! %>
              </div>  
              <%= f.text_field :name, class: "formdiv", placeholder: "Gebruikersnaam" %> 
              <%= f.email_field :email, class: "formdiv", placeholder: "E-mail adres"  %>
              <div class="form2ndinpt">
                <%= f.password_field :password, class: "formdiv", placeholder: "Wachtwoord" %>
            	  <%= f.password_field :password_confirmation, class: "formdiv", placeholder: "Wachtwoord bevestigen" %>
              </div>
              <%= f.hidden_field :role,:value => "user"%>
              <%= f.submit "Account maken", class: "btorg" %>
            <% end %>  
          </div>
          
          
          <div class = "contn fortopmarg">
            <h1>Login met je Weloco.com account</h1>
            
            <%= form_for(resource, :as => resource_name, :url => user_session_path) do |s| %>
               
             <%= s.email_field :email, class: "formdiv" , placeholder: "E-mail adres", autofocus: true %>                                        
         

              <div class = "form2ndinpt">
                <%= s.password_field :password, class: "formdiv", placeholder: "Wachtwoord" %>
                <% if devise_mapping.rememberable? %>
                  <div id="remember_me">
                    <%#= s.check_box :remember_me %> <%#= s.label :remember_me , "Laat mij ingelogd blijven"%>
                    <% if devise_mapping.recoverable? && controller_name != 'passwords' %>
                      <div id="forgot_password">
                        <%= link_to "Wachtwoord vergeten?", new_password_path(resource_name) %><br />
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <div class = "comenttext">
                </div>
                <div class = "submdiv">
                  <%= s.submit "Inloggen", class: "btorg" %>
                  <%= s.submit "Annuleren", class: "submdiv" %>
                </div>              
              </div>
                   <div class = "facbokdiv">
                <div class="facbokcont">Login met jouw sociale netwerk</div>
                <%= image_tag "faceboo_icon.png" %>  
                <%= link_to 'Login met Facebook', '/auth/facebook/', :id => "facebook_connect"  %>
<!--                 <input type="text" id="Items_input" class="" autocomplete="off" readonly="readonly" tabindex="0" placeholder="Login met Facebook"> -->            
              </div>
            <% end %> 
          </div>
        </div>      
      </div>
    </div>
    <div class = "mijnadediv2nd">
      <div class = "mijabotdiv">
        <div class = "mijbothome"><%= image_tag "homeicon.png" %>Homepagina</div>
        <p>
          Voor uw bescherming verloopt deze conversatie via onze server en 
          worden e-mailadressen afgeschermd. Om bijvoorbeeld spam te
          voorkomen en de veiligheid van handelen te vergroten, behoudt 
          WELOCO zich het recht voor om verdachte conversaties te filteren 
          en te staken.
        </p>
      </div>
    </div>
  </div>
</div>